@keyframes show{0%{opacity:0}to{opacity:1}}
@keyframes error{0%{border:3px solid #FF4747}25%{border:3px solid #0059FF}50%{border:3px solid #ff9a00}75%{border:3px solid #FF63F5}100%{border:3px solid #FF4747}}
header{margin-bottom: 40px}
body{font-family:'Montserrat', sans-serif}
ul{list-style:none;margin:0;padding:0}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;-moz-appearance:none;appearance:none;margin:0}

input[type=number]{-moz-appearance:textfield}

button{outline:transparent}
button:focus{outline:transparent}

.header-main{justify-content: space-between;padding-right: 40px}

.container{display: flex}
.container-mini{display: flex;align-items:center}

.logo{height:60px;width:250px;cursor: pointer;
	margin-right:40px;
	background-repeat:no-repeat;
	background-position:0;
	background-image:url(../img/temp/ailexpresslogo.png);
	background-size: cover}

.category {background: #F9AA46;margin-right:50px;
	height: 40px;width: 150px;cursor:pointer}
.cat-container{width: 500px}
.category-title {
	float: left;position: relative;
	border-right: 1px solid #F9AA46;list-style-type: none}
.category-title {padding: 13px;width: 150px}
.category-title:first-child {border-left: 0}
.cat-container	 {
	position: absolute;
	padding: 13px;
	margin: 25px 0 0 -13px;
	z-index: 5;
	width: 620px;
	background: white;
	visibility: hidden;
	opacity: 0;
	transform-origin: 0 0;
	transition: .3s linear}
.sub{
	position: absolute;
	z-index: 5;
	min-width: 200px;
	height: 100%;
	background: white;
	color: #000;
	visibility: hidden;
	opacity: 0;
	transform-origin: 0 0;
	/*transform: rotateY(-90deg);*/
	transition: .3s linear}

.submenu .cat-container {
	position: absolute;
	left: 100%;
	top: -1px;
	transition: .3s linear}
.submenu .sub {
	position: absolute;
	padding: 10px;
	left: 35%;
	top: -1px;
	width: 63%;
	transition: .3s linear}
.show-main div > .cat-container {
	transform: rotate(0deg);
	visibility: visible;
	opacity: 1}
.show-sub > .sub {
	transform: rotateY(0deg);
	visibility: visible;
	opacity: 1}

#search{display:flex;width: 420px;
	border: 2px solid #F7971D}
.search-wrapper{
	justify-content:flex-start;
	border-right-width:0;
	align-items:stretch;
	height:36px;width:100%}
.search-wrapper_input{
	width:100%;height:100%;
	box-sizing:border-box;
	margin:0;padding:0 0 0 8px;
	border:none;font-size:14px;
	outline:none}
.search-btn{
	height:104%;width:104%;border:none;background-color:#F9AA46}
.search-btn::before{
	content:"";display:inline-block;
	vertical-align:middle;
	width:24px;height:24px;color:#fff;
	background-image:url(../img/search.svg);
	background-size:contain}

.search-wrapper_input::-ms-clear {
	width:24px;height:24px;cursor: pointer;
	background-image:url(../img/cross.svg);
	background-size:contain;-webkit-appearance: none}
.search-wrapper_input::-ms-reveal{
	width:24px;height:24px;cursor: pointer;
	background-image:url(../img/cross.svg);
	background-size:contain;-webkit-appearance: none}
.search-wrapper_input::-webkit-search-decoration,
.search-wrapper_input::-webkit-search-cancel-button,
.search-wrapper_input::-webkit-search-results-button,
.search-wrapper_input::-webkit-search-results-decoration {
	width:24px;height:24px;cursor: pointer;padding-right: 5px;
	background-image:url(../img/cross.svg);
	background-size:contain;background-repeat: no-repeat;
	-webkit-appearance: none}

.nav-elements{
	width:32px;height:32px;
	background-repeat:no-repeat;
	position:relative;
	box-sizing:border-box;
	display:flex;margin:0 15px}
.nav-elements .counter{
	position:absolute;
	top:-5px;right:-15px;
	padding:0 8px;color:#000;
	font-size:14px;line-height:16px;
	font-weight:700}

#category{display:flex;flex-direction:column;padding-top:10px;padding-right: 20px}

#favorites-btn{background-image:url(../img/favourite.svg);
	background-size:contain;cursor:pointer}


#basket-main-btn{background-image:url(../img/cart-alt1.svg);
	background-size:contain;cursor:pointer}

.category-title{display:block;
	font-size:20px;line-height:13px;margin-bottom:20px;font-weight:500}

.category-item{
	font-weight:500;height:30px;color:black;font-size:14px;
	text-overflow:ellipsis;white-space:nowrap;cursor:pointer}

.category-item:hover{color:#FF4747;text-decoration:none}
	
#cards-wrapper{display:flex;flex-wrap:wrap}
.card-wrapper{width:185px;margin:0 10px 30px 10px}
.card-wrapper:hover .add-favorite{display: block}

.card-img-wrapper{
	max-width: 100%;
	position:relative;
	display:flex;
	margin:0 auto;
	text-align:center;
	background-color: white;
	background-size:220px 220px;
	width:220px;
	height:220px;
	cursor:pointer;}

.card-img-top{
	width:auto;height:auto;max-width:220px;max-height:220px;object-fit:cover;margin: auto;
	background-position:center;background-size:contain;background-repeat:no-repeat;border-top-left-radius:0;border-top-right-radius:0}

.card:hover{box-shadow:0 1px 8px 0 rgba(0,0,0,.08)}

.card-title{overflow:hidden;font-size:14px;line-height:1.38;
	padding-bottom:5px;position:relative;z-index:4;white-space:nowrap;
	text-overflow:ellipsis;margin-bottom:0;cursor: pointer}

.card-title:hover{text-decoration:none;cursor:pointer;color:#FF4747}

.card-body{display:flex;flex-direction:column;padding:20px 0 0 0}

.card-price{font-size:22px;font-weight:700;margin-bottom:5px;letter-spacing:1px}

.add-cat-card{width:100px;
	height: 30px;padding-top: 2px;
	color: #fff;background: #269926;
	text-align: center;border: none}
.add-cat-card:disabled{background: #fff;border: 1px solid #269926; color: #269926}

.card-add-basket{display:none;margin:0 auto;background:#ff9a00;padding:3px 9px;
	min-width:165px;color:#fff;border-color:transparent;font-size:16px}

.add-each-card{background: #269926}
.delete-each-card{background: #FF4747}

.add-each-card, .delete-each-card{width:40px;height: 30px;color:#fff;border:none}
.add-card{width: 200px;height: 40px;color:#fff;font-weight: 500;background: #E43225;border:none}
.add-card:disabled{background: #fff;border: 2px solid #269926; color: #269926}
.add-card-active{color: #269926;background-color: #fff;border: 2px solid #269926}

.calc-content{margin:0 10px;padding-top: 3px;text-align: center}

.card-store{text-decoration:underline;overflow:hidden;white-space:nowrap;
	text-overflow:ellipsis;cursor:pointer;font-size:12px;line-height:16px;color:#999}
.card-store:hover{color:#FF4747}

#basket{
	display:none;position:fixed;
	top:0;left:0;width:100%;
	height:100%;background-color:#00000050;
	z-index:130}
.basket{font-size:26px;width:100%}
.basket-body{display: flex;padding:25px 0 25px 0;border-bottom: 1px solid #d6dbe0}

.basket-img img{max-width:120px}
.basket-title{font-size:18px;width:400px;padding:0 15px 0 15px;cursor: pointer}

.basket-price{font-size:22px;font-weight:500}
.basket-trigger{display: flex}

.basket-delete{
	width:32px;height:32px;
	background-color:transparent;
	background-image:url(../img/delete.svg);
	background-size: contain;
	margin-right: 45px;border:none}

.basket-total{width: 300px;height: 200px;margin: 60px 0 0 40px; border: 1px solid #d6dbe0}
.total-container{padding: 30px}

.quantity, .price{display: flex;justify-content: space-between}
.price{padding-top: 5px;font-weight: 600}
.price span{display: flex}
.price span div{padding-right:3px}

.go-pay{width: 250px;height: 40px;margin-top: 20px;
	color: #fff;background: #269926;border: none}

@keyframes spinner-loading{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}

.search.error{-webkit-animation:2s linear error;-o-animation:2s linear error;animation:2s linear error}

.card-content{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;}

.each-good-content p a:hover{text-decoration:none;color: #FF4747}
.each-good-img{margin-right: 20px; height: auto; width: auto; max-width: 300px; max-height: 300px;}

.each-good-description{max-width: 600px}
.each-good-title{font-size: 22px}

.each-good-price{display:flex;font-size: 28px;font-weight: 500}

.calc{display: -webkit-flex;display: -moz-flex;display: -ms-flex;
	display: -o-flex;display: flex;-webkit-flex-direction: row;
	-ms-flex-direction: row;flex-direction: row;margin-bottom: 30px;}

@keyframes pulse{
	0%{transform: scale( 1 )}
	50%{transform: scale( 1.25 )}
	100% {transform: scale( 1 )}
}
.add-favorite{width:32px;height:32px;background-color:transparent;
	background-image:url(../img/fav-static.svg);background-repeat:no-repeat;
	position:absolute;top:7px;right:0;border:none;display:none}
.add-favorite:hover{
	animation: pulse 1s infinite;background-image: url(../img/fav-hover.svg)}
.add-favorite.active{
	background-image: url(../img/fav-active.svg);display: block}

.basket-fav{display:block;top: 5px;position:relative}
.like-each-card{display:block;position:relative;
	margin-left: 30px;background-size: contain}


.colors > img {display: inline-block; height: 150px; width: auto; max-width: 300px; max-height: 300px; cursor: pointer; margin-right: 20px}

.main-price{font-size: 28px;}
.discount-price{text-decoration: line-through}

@media (min-width: 1300px){
	.container {
		max-width: 1300px}
}
@media (max-width: 1299px){
	.container {max-width: 1200px}
}
