@keyframes show{0%{opacity:0}to{opacity:1}}
@keyframes error{0%{border:3px solid #FF4747}25%{border:3px solid #0059FF}50%{border:3px solid #ff9a00}75%{border:3px solid #FF63F5}100%{border:3px solid #FF4747}}
html{ min-height: 100%;}
header{position: fixed;z-index: 200;top: 0;
    background-color: #fff; width: 100%}
main{margin-top: 90px}
body{font-family:'Montserrat', sans-serif;}
ul{list-style:none;margin:0;padding:0}
#content-wrapper{width: 100%}

.before{position: absolute; top: 10px;left: 10px;width: 30px;writing-mode: vertical-rl;
    text-orientation: upright;letter-spacing: -2px;cursor: pointer; color: red}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;-moz-appearance:none;appearance:none;margin:0}

input[type=number]{-moz-appearance:textfield}

button{outline:transparent}
button:focus{outline:transparent}

.header-main{justify-content: space-between;padding-right: 40px}

.container{display: flex}
.container-mini{display: flex;align-items:center}

.logo{height:60px;width:250px;cursor: pointer;
	margin-right:40px;
	background-repeat:no-repeat;
	background-position:0;
	background-image:url(../img/temp/ailexpresslogo.png);
	background-size: cover}

.category {background: #F9AA46; margin-right:60px;
	height: 40px;width: 150px;cursor:pointer;
	padding: 13px;font-size:20px;line-height:13px;
	font-weight:500}
.cat-container{width: 500px}

.category-title:first-child {border-left: 0}
.cat-container{position: absolute; padding: 13px; margin: 23px 0 0 -13px;
	z-index: 5; width: 630px; background: white; border: 2px solid #F7971D;
    border-top: transparent; visibility: hidden; opacity: 0; transform-origin: 0 0;
	transition: .3s linear}
.sub{
	position: absolute; z-index: 5; min-width: 200px; height: 100%;
	background: white; color: #000; visibility: hidden; opacity: 0;
	transform-origin: 0 0; transition: .3s linear}
.item-sub:hover{border-left: 1px solid; color:#F7971D; padding-left: 5px; transition: .3s}
.item-sub{transition: .3s}
.submenu .cat-container {position: absolute; left: 100%; top: -1px; transition: .3s linear}
.submenu .sub {
	position: absolute;
	padding: 10px 0;
	left: 33.5%;
	top: -1px;
	width: 63%;
	transition: .3s linear}
.show-main > .cat-container {border: 2px solid #F7971D;
	border-top: 2px solid transparent; transform: rotate(0deg);
	visibility: visible;
	opacity: 1}
.show-sub > .sub {
	transform: rotateY(0deg);
	visibility: visible;
	opacity: 1}

#search{display:flex;width: 420px;
	border: 2px solid #F7971D}
.search-wrapper{
	justify-content:flex-start;
	border-right-width:0;
	align-items:stretch;
	height:36px;width:100%}
.search-wrapper_input{
	width:100%;height:100%;
	box-sizing:border-box;
	margin:0;padding:0 0 0 8px;
	border:none;font-size:14px;
	outline:none}
.search-btn{
	height:104%;width:104%;border:none;background-color:#F9AA46}
.search-btn::before{
	content:"";display:inline-block;
	vertical-align:middle;
	width:24px;height:24px;color:#fff;
	background-image:url(../img/search.svg);
	background-size:contain}

.search-wrapper_input::-ms-clear {
	width:24px;height:24px;cursor: pointer;
	background-image:url(../img/cross.svg);
	background-size:contain;-webkit-appearance: none}
.search-wrapper_input::-ms-reveal{
	width:24px;height:24px;cursor: pointer;
	background-image:url(../img/cross.svg);
	background-size:contain;-webkit-appearance: none}
.search-wrapper_input::-webkit-search-decoration,
.search-wrapper_input::-webkit-search-cancel-button,
.search-wrapper_input::-webkit-search-results-button,
.search-wrapper_input::-webkit-search-results-decoration {
	width:24px;height:24px;cursor: pointer;padding-right: 5px;
	background-image:url(../img/cross.svg);
	background-size:contain;background-repeat: no-repeat;
	-webkit-appearance: none}

.nav-elements{
	width:32px;height:32px;
	background-repeat:no-repeat;
	position:relative;
	box-sizing:border-box;
	display:flex;margin:0 15px}
.nav-elements .counter{
	position:absolute;
	top:-5px;right:-15px;
	padding:0 8px;color:#000;
	font-size:14px;line-height:16px;
	font-weight:700}

#category{display:flex;flex-direction:column;padding-top:10px;padding-right: 20px}

#favorites-btn{background-image:url(../img/favourite.svg);
	background-size:contain;cursor:pointer}


#basket-main-btn{background-image:url(../img/cart-alt1.svg);
	background-size:contain;cursor:pointer}

.category-item{
	font-weight:600; height:30px; color:black; font-size:14px; padding-top: 7px;
	text-overflow:ellipsis;white-space:nowrap;cursor:pointer}

.category-item:hover{color:#F7971D; text-decoration:none}

#cards-wrapper{display:flex;flex-wrap:wrap}
.card-wrapper{width:188px;margin:0 10px 30px 10px}
.card-wrapper:hover .add-favorite{transition: transform 0.6s ease;display: block}

.card-img-wrapper{position:relative; display:flex; margin:0 auto;
	text-align:center; height:220px; cursor:pointer}

.card-img-top{
	width:auto;height:auto;max-width:185px;max-height:220px;object-fit:cover;margin: auto;
	background-position:center;background-size:contain;background-repeat:no-repeat;border-top-left-radius:0;border-top-right-radius:0}

.card:hover{box-shadow:0 1px 8px 0 rgba(0,0,0,.08)}

.card-title{overflow:hidden;line-height:1.38;
	padding: 20px 0 5px 0;white-space:nowrap;
	text-overflow:ellipsis;margin-bottom:0;cursor: pointer}

.card-title:hover{text-decoration:none;cursor:pointer;color:#FF4747}

.card-body{padding:0px;display: flex;justify-content: space-between}

.card-price{font-size:22px;font-weight:700;margin-bottom:5px;letter-spacing:1px}

.add-cat-card{width:30px;
	height: 30px;padding-top: 2px;color: #fff;background-color: transparent;
	background-image: url(../img/cart-alt1.svg);background-repeat: no-repeat;
	background-size: contain;text-align: center;border: none;display: none}
.card-wrapper:hover .add-cat-card{transition: transform 0.6s ease;display: block}
.add-cat-card:hover::after{content: attr(data-title);
    position: absolute; z-index: 1; color: #000; background: #fff;
    font-size: 11px; padding: 5px 10px; margin: 15px 15px; border: 1px solid #333}

.active-add-cat{background-image: url(../img/check.svg)}

.card-add-basket{display:none;margin:0 auto;background:#ff9a00;padding:3px 9px;
	min-width:165px;color:#fff;border-color:transparent;font-size:16px}

.add-each-card{background: #269926}
.delete-each-card{background: #FF4747}

.add-each-card, .delete-each-card{width:40px;height: 30px;color:#fff;border:none}
.add-card{width: 200px;height: 40px;color:#fff;font-weight: 500;background: #E43225;border:none}
.add-card:disabled{background: #fff;border: 2px solid #269926; color: #269926}
.add-card-active{color: #269926;background-color: #fff;border: 2px solid #269926}

.calc-content{margin:0 10px;padding-top: 3px;text-align: center}

.card-store{text-decoration:underline;overflow:hidden;white-space:nowrap;
	text-overflow:ellipsis;cursor:pointer;font-size:12px;line-height:16px;color:#999}
.card-store:hover{color:#FF4747}

#basket{
	display:none;position:fixed;
	top:0;left:0;width:100%;
	height:100%;background-color:#00000050;
	z-index:130}
.basket{font-size:26px;width:100%}
.basket-body{display: flex;padding:25px 0 25px 0;border-bottom: 1px solid #d6dbe0}

.basket-img img{max-width:120px}
.basket-title{font-size:18px;width:400px;padding:0 15px 0 15px;cursor: pointer}

.basket-price{font-size:22px;font-weight:500}
.basket-trigger{display: flex}

.basket-delete{ width:32px; height:32px; background-color:transparent;
	background-image:url(../img/delete.svg); background-size: contain;
	margin-right: 45px;border:none}

.basket-total{width: 300px;height: 200px;margin: 60px 0 0 40px; border: 1px solid #d6dbe0}
.total-container{padding: 30px}

.empty-basket{align-items: center; justify-content: center; margin-top: 5%; margin-bottom: 176px;}
.empty-basket_img{width: 150px; height: 150px;
    background-repeat: no-repeat; margin-right: 50px;
    background-size: contain; background-image: url(../img/empty-basket.png);}
.empty-basket h4 div{color: #FF4747; cursor: pointer}


.quantity, .price{display: flex;justify-content: space-between}
.price{font-weight: 600}
.price span{display: flex}
.price span div{padding-right:3px}

.go-pay{width: 250px;height: 40px;margin-top: 20px;
	color: #fff;background: #269926;border: none}

@keyframes spinner-loading{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}

.search.error{-webkit-animation:2s linear error;-o-animation:2s linear error;animation:2s linear error}

.card-content{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;margin-bottom: 40px}

.card-imgs{ display: flex; max-width: 620px;max-height: 700px}
.each-good-description{display: block; float: right; left: 700px}
.card-img-side{display: flex; flex-direction: column; /*justify-content: space-around;*/max-height: 700px; margin-right: 10px; cursor: pointer}
.card-img-main img{min-width: 500px; max-width: 500px;max-height: 700px;margin: 0 20px 10px 0}
.card-img-side img{max-width: 100px;max-height: 100px; margin-bottom: 10px}


.dot-active{border: 2px solid;}
.scroll-desc {margin-left: 620px}

.each-good-content p a:hover{text-decoration:none;color: #FF4747}
.each-good-img{margin-right: 20px; height: auto; width: auto; max-width: 500px; max-height: 500px}

.title{font-size: 26px;font-weight: 500}

.each-good-price{display:flex;font-size: 28px;font-weight: 500}

.calc{display: -webkit-flex;display: -moz-flex;display: -ms-flex;
	display: -o-flex;display: flex;-webkit-flex-direction: row;
	-ms-flex-direction: row;flex-direction: row;margin-bottom: 30px;}

@keyframes pulse{
	0%{transform: scale( 1 )}
	50%{transform: scale( 1.25 )}
	100% {transform: scale( 1 )}
}
.add-favorite{cursor: pointer; width:32px;height:32px;background-color:transparent;
	background-image:url(../img/fav-static.svg);background-repeat:no-repeat;background-size: contain;
	position:absolute;top:7px;right:0;border:none;display:none}
.add-favorite:hover{
	animation: pulse 1s infinite;background-image: url(../img/fav-hover.svg)}
.add-favorite.active{
	background-image: url(../img/active-white.svg);display: block}

.basket-wrapper{display: flex; justify-content: space-around}
.basket-fav{display:block;top: 5px;position:relative}
.like-each-card{display:block;position:relative;margin-left: 30px}

.colors{margin-bottom: 20px}
.colors > img {display: inline-block; height: 150px; width: auto; max-width: 70px; max-height: 70px; cursor: pointer; margin: 10px}
.color:hover{border: 1px solid #0f6674}

.main-price{font-size: 28px;}
.discount-price{text-decoration: line-through}


.characters-min{width: 400px}
.characters{width: 700px;font-size: 18px;margin-bottom: 40px}
.character-name{margin-top: 20px; margin-bottom: 10px}
.characteristics{font-size: 22px;font-weight: 500}
.charact-cont{position: relative;overflow: hidden;
	list-style-type: none;display: flex;
	justify-content: space-between}
.charact-cont div{white-space: normal}
.character{overflow: hidden}
.character:after {
	content: "";
	display: block;
	left: 0;
	bottom: .2em;
	position: absolute;
	width: 100%;
	border-bottom: 1px dotted #d6dbe0}
.delivery{margin-top: 10px}


.content-similar-wrapper{display: flex;align-items: flex-end;transition: transform 0.6s ease}
.similar-wrapper{min-width:290px;margin:0 10px 30px 10px;text-align: center;position: relative	}
.similar-wrapper:hover .add-favorite{display: block}

.arrows{width: 42px;height: 42px;position: absolute;margin-top: 10%;
	border: none;background-size: contain;background-repeat: no-repeat;
	display: none;
}
.arrows:hover{filter: invert(71%) sepia(100%) saturate(3506%) hue-rotate(357deg) brightness(97%) contrast(94%);cursor: pointer}

.arrow-left{left: 50px}
.arrow-right{right: 30px}

.similar-img-wrapper{
	display: flex;
	margin: 0 auto;
	text-align: center;
	height: 220px}
.similar-img{cursor: pointer;
	width:auto;height:auto;max-width:220px;max-height:220px;object-fit:cover;margin: auto;
	background-position:center;background-size:contain;background-repeat:no-repeat;}
.similar-body{padding:20px 0 0 0}

.similar-title{font-size: 26px;font-weight: 500;margin-bottom: 20px}
.similar-card-title{overflow:hidden;line-height:1.38;
	padding-bottom:5px;white-space:nowrap;
	text-overflow:ellipsis;margin-bottom:0;cursor: pointer}
.similar-card-title:hover{text-decoration:none;cursor:pointer;color:#FF4747}

.similar-price{font-size:22px;font-weight:700;margin-bottom:5px;letter-spacing:1px}

.similar {overflow: hidden}
.slider-show {display: flex}
.similar-wrapper:hover .add-favorite{transition: transform 0.6s ease;display: block}
.similar-wrapper:hover .add-cat-card{transition: transform 0.6s ease;display: block}

@media (min-width: 1300px){
	.container {
		max-width: 1300px}
}
@media (max-width: 1299px){
	.container {max-width: 1200px}
}


#profile-btn{background-image:url(../img/profile.png);
	background-size:contain;cursor:pointer}

#profile-btn.dropdown-open + .outer-list {transform: scale(1);
	opacity: 1; visibility: visible}
.dropdown {position: relative; margin: 0 auto}
.dropdown > .outer-list {
	position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 100px;
	transform: scale(0);
	opacity: 0;
	visibility: hidden;
	align-items: flex-start;
	transform-origin: 50% 0;
	background-color: rgba(0, 0, 0, 0.5);
}
.dropdown > .outer-list > ul {
	list-style: none;
	padding: 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
	border-radius: 0.2em;
}
.dropdown > .outer-list > ul li {
	padding: 0.25em 3em;
	margin: 0.25em;
	width: 250px;
	cursor: pointer;
}
.dropdown > .outer-list > ul li:hover {
	background: rgba(0, 0, 0, 0.07);
}
#loginPage{
	display: flex;
	flex-direction: column;
	background: white;
	padding: 30px;
	z-index: 100;
}

#show-more{
	cursor: pointer;
    width: 200px;
    text-align: center;
    height: 40px;
    font-weight: 500;
    background: #F9AA46;
	margin: 0 42%;
    padding: 13px;
    font-size: 20px;
    line-height: 13px;
}
#login, #password {height: 40px; width: 220px; margin-bottom: 20px}
#login:focus, #password:focus{outline: none; border: 2px solid #F7971D}
.login{
	background: #F9AA46;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
	border: none;
    margin: 5px 0 15px 0;
}
.signup{
	height: 40px;
	background-color: rgba(0, 0, 0, 0.1);
	font-size: 20px;
    font-weight: 500;
	border: 2px solid #fff;
}
footer{
	background-color: #f5f5f5;
	margin-top: 100px;
	padding: 10px 50px;
	width: 100%;
	height: 100px;
	display: flex;
    justify-content: space-around;
	align-items: center;
}
.payment-img{
	background-image: url(../img/cards-pay.svg);
	background-size: contain;
    background-repeat: no-repeat;
	width: 200px;
	height: 50px;
}
.character i{text-overflow: clip}
