div(class="loginPage" id = "loginPage")
    h2 Авторизация
    label(class="loginPage" for='login') Логин
    input#login(class="loginPage" type='text' name='login' value=login required='')

    label(class="loginPage" for='password') Пароль
    input#password(class="loginPage" type='password' name='password' value=password  required='')

    button.login(class="loginPage" ) Войти
    button.signup(class="loginPage" ) Регистрация
    