div(class="loginPage" id = "loginPage", style="display:block")
    label(class="loginPage" for='login') Login
    input#login(class="loginPage" type='text' name='login' value=login required='')

    label(class="loginPage" for='password') Password
    input#password(class="loginPage" type='password' name='password' value=password  required='')

    button.signup(class="loginPage" ) Signup
    button.login(class="loginPage" ) Login