.category-title Категории
a.category-item(href='#' data-category='mobile') Телефоны и аксессуары
a.category-item(href='#' data-category='pc') Компьютеры и оргтехника
a.category-item(href='#' data-category='electron') Электроника
a.category-item(href='#' data-category='home') Бытовая Техника
a.category-item(href='#' data-category='sport') Спорт и развлечения
