case layout
    when "catalog"
        include ../Classes/Base/view/catalogWrapper
    when "card"
        include ../Classes/Card/view/card
    when "basket"
        include ../Classes/Basket/view/basket
