header
    .container.header-main
        .container-mini
            .logo
            form#search
                .search-wrapper
                    input#searchGoods.search-wrapper_input(type='text' role='search' placeholder='Поиск')
                div
                    button#search-clear
                .search-wrap-btn
                    button#search-btn.search-btn(type='submit' aria-label='Поиск товаров')
        .container-mini
            #basket-main-btn.nav-elements()
                span.counter 0
            #favorites-btn.nav-elements()
                span.counter !{favoritesCnt}
