doctype html
include head.pug
include header.pug

main
    .container
        #category
            include left-sidebar
        #content-wrapper
            include content-wrapper
script(src='src/script/script.js')
script(src='src/script/utils.js')
