doctype html
include head.pug
include header.pug

main
    .container
        #category
            include category.pug
        #cards-wrapper
            include catalog.pug
script(src='src/script/script.js')
