doctype html
include head.pug
include header.pug

main
    .container
        #category
            include category.pug
        #cards-wrapper
            .basket Корзина
            include basket.pug
        .basket-total
            .total-container
                .quantity
                    span Товары
                    span 20 шт
                .price
                    span Итого
                    span 200 ₽
                button.go-pay Перейти к оформлению
script(src='src/script/script.js')
