//.category-title Категории
//.category-item(data-category='mobile') Телефоны и аксессуары
//.category-item(data-category='pc') Компьютеры и оргтехника
//.category-item(data-category='electron') Электроника
//.category-item(data-category='home') Бытовая Техника
//.category-item(data-category='sport') Спорт и развлечения
