.category-title Категории
.category-item(data-category='Смартфоны') Смартфоны
.category-item(data-category='Аксессуары для смартфонов') Аксессуары для смартфонов
.category-item(data-category='Фитнес браслеты') Фитнес браслеты
.category-item(data-category='Умные часы') Умные часы
.category-item(data-category='Наушники') Наушники
.category-item(data-category='Портативная акустика') Портативная акустика
.category-item(data-category='Комплектующие для ПК') Комплектующие для ПК
